.product-row-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 400px;
    width: 300px;

 }

 .tag-new {
    background-color: turquoise;
    color: white;
    font-size: 20px;
    width: 50px;
    height: 50px;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    position: absolute ;
    top: 25px;
    left: 10px;
    display: flex;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
}


 .tag-discount {
    background-color: red;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 25px;
    right: 10px;
    display: flex;
 }

 #price {
    color: turquoise;
    font-weight: 600;
 }

 .discount {
    color: lightgrey;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
 }

 .add-to-cart-btn {
    border: 1px solid lightgrey;
    color: grey;
    font-weight: 600;
    width: 120px;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px; 
    text-transform: uppercase;
 }

 .product-card-container {
    padding-top: 30px;
    padding-bottom: 30px;
 }

 #container {
    padding-left: 50px;
    padding-right: 50px;
 }