* {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  ul {
    list-style: none;
    display: inline-flex;
  }

  ul li {
    padding: 20px;
  }

 a {
    text-decoration: none;
  }

  .nav-container {
    padding: 30px;
    display:flex;
    justify-content: space-between;
  }