th {
    border: 1px solid none;
    background-color: blanchedalmond;
}

table {
    width: 75%;
}

th, td {
    height: 85px;
    width: 175px;
}

td {
    background-color: grey;
    color: black;
    font-weight: 700;
    text-align: center;
}