body {
    margin: 0;
    font-family: "Roboto";
}


#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 5px;
}

/* #nav-links {
    display: flex;
}  */

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}

#bg-img {
    background-image: url(https://images.hdqwalls.com/wallpapers/spiderman-closeup-artworks-0p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    display: block;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0;
    /* margin-bottom: 30px;  */
    /* opacity: 0.9;  */
}

h1, p {
    color: white;
    
}

h1 {
    font-size: 70px;
}

p {
    font-size: 35px;
}

.logo {
    font-size: 20px;
    color: black;
}

.absolute {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 500px;
    height:300px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer;  Add a pointer on hover */
  }